{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body bgcolor="cyan">
    <div class="alert alert-danger" role="alert">
        <h1 align=center>RSA FOOD</h1>
        <h2 align=center><i>Home Made Products</i></h2>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
           <a href="{% url 'home' %}">HOME</a>
           <a href="{% url 'about' %}">ABOUT US</a>
           <a href="#">NOTIFICATIONS</a>
           <a href="#">UPDATES</a>
           <u><b><a href="{% url 'temp2' %}">SignUp</a></b></u>
           <u><b><a href="{% url 'temp1' %}">Login</a></b></u>
          </nav>
      </div>
      <marquee direction="right"><h1 style="color:red;"><i>Welcome to RSA Food</i></h1></marquee>
      <div class="p-3 mb-2 bg-info text-white">
        <table>
            <tr>
            <td><img src="{% static 'images/home.png' %}" alt="image not found" width="480%" height="200%"></td>
            </tr>
        </table>
    </div>
   
</body>
</html>